TELEGRAM_ENABLED=0
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PUBLIC_BASE_URL=
SECRET_KEY=
ADMIN_USERNAME=
ADMIN_DISPLAY_NAME=
ADMIN_PASSWORD=
TECHNICIAN_USERNAME=
TECHNICIAN_DISPLAY_NAME=
TECHNICIAN_PASSWORD=
MAX_CONTENT_LENGTH=52428800
